* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* common */

:root {
    --primary-color: #143c3c;
    --text-color_black: #152427;
    --text-color-black-gray: #575d5e;
    --text-color-white: #fff;
    --text-color-black-green: #143c3c;
}
.content {
    width: 1140px;
    margin: 0 auto;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--text-color-white);
}
.btn:hover {
    background: #e2eddf;
    color: var(--primary-color);
}
a {
    text-decoration: none;
}

/* --------------------------------------- Header --------------------------------------- */
.header {
    padding-top: 30px;
}
.header__row {
    display: flex;
    align-items: center;
    position: relative;
}
.header__row::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    width: 100%;
    border: 1px solid #dddcdced;
}
.header__row::before {
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    transform: translatex(-50%);
    bottom: -13px;
    width: 16px;
    border: 2px solid #143c3c;
}

.nav__list {
    margin-left: 406px;
    display: flex;
    gap: 38px;
}
.nav__list-item a {
    color: var(--text-color-black-gray);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}
.nav__list-item a:hover {
    color: var(--text-color_black);
}

.header__btn {
    margin-left: 88px;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
