* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* common */

:root {
    --primary-color: #143c3c;
    --second-color: #e2eddf;
    --text-color_black: #152427;
    --text-color-black-gray: #575d5e;
    --text-color-white: #fff;
    --text-color-black-green: #143c3c;
}
button {
    outline: none;
    border: none;
}
.content {
    width: 1140px;
    margin: 0 auto;
}
.btn {
    font-family: "Public Sans", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    align-items: center;
    min-width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--text-color-white);
}
.btn:hover {
    background: var(--second-color);
    color: var(--primary-color);
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
}

.heading {
    color: var(--text-color_black);
    position: relative;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}
.heading--dash::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 25%;
    transform: translateY(200%);
    right: 104px;
    width: 66px;
    height: 2px;
    background: var(--text-color_black);
}

.text-style {
    color: #7d8188;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7; /* 171.429% */
}
.deco {
    position: absolute;
}
.span__subtitle {
    white-space: nowrap;
    margin-left: 35px;
    color: var(--text-color_black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    position: relative;
}
.span__subtitle::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -21px;
    top: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 1px;
    background: var(--text-color_black);
}

.bgblur {
    z-index: -1;
    position: absolute;
    bottom: 90px;
    left: 145px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

/* --------------------------------------- Header --------------------------------------- */
.header {
    padding-top: 30px;
}
.header__row {
    display: flex;
    align-items: center;
    position: relative;
}
.header__row::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}
.header__row::before {
    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    transform: translatex(-50%);
    bottom: -13px;
    width: 16px;
    border: 1px solid #143c3c;
}

.nav__list {
    margin-left: 406px;
    display: flex;
    gap: 38px;
}
.nav__list-item a {
    color: var(--text-color-black-gray);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}
.nav__list-item a:hover {
    color: var(--text-color_black);
    font-weight: 600;
}

.header__btn {
    margin-left: 88px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
/* --------------------------------------- Hero --------------------------------------- */
/* left */
.hero {
    margin-top: 60px;
    position: relative;
}
.hero__left {
    margin-top: 50px;
    width: 400px;
    align-self: flex-start;
}

.hero__title {
    font-family: "Public Sans", sans-serif;
    width: 368px;
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 800;
}
.hero__desc {
    font-family: "Public Sans", sans-serif;
    color: #575d5e;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.55; /* 155.556% */
}

.hero__btn {
    padding: 14px 26px;
}

.hero__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    rotate: 45deg;
}
.hero__circle-boder {
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid var(--text-color-black-green);
    border-bottom-color: transparent;
    border-right-color: transparent;
    rotate: -45deg;
    border-radius: 50%;
    transition: rotate 0.5s;
}

.hero__watch-video {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.hero__circle-boder:hover,
.hero__span:hover {
    cursor: pointer;
}
.hero__circle-boder:hover,
.hero__span:hover ~ .hero__circle-boder {
    rotate: 155deg;
    border-top-color: #83a17d;
    border-left-color: #83a17d;
}

.hero__watch-video:hover .hero__span {
    color: #83a17d;
}

.hero__circle-boder:hover .hero__circle,
.hero__span:hover ~ .hero__circle-boder .hero__circle {
    background-color: var(--text-color-black-green);
    rotate: 80deg;
}
.hero__span {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

/* right */
.hero__right {
    margin-left: 76px;
    display: flex;
    position: relative;
    gap: 20px;
    height: 550px;
}
.hero_img {
    width: 202px;
    height: 466px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
}
.hero_img:nth-child(2) {
    align-self: flex-end;
}
.bgblur {
    z-index: -1;
    position: absolute;
    bottom: 90px;
    left: 145px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}
.hero_deco_1 {
    top: -23px;
    left: 745px;
}
.hero_deco_3 {
    z-index: 1;
    top: -14px;
    left: 703px;
}
.hero_deco_2 {
    bottom: -70px;
    right: 510px;
}
.hero_deco_4 {
    z-index: 1;
    bottom: -45px;
    right: 468px;
}
/* --------------------------------------- collab --------------------------------------- */
.collab {
    margin-top: 130px;
}
.collab__row {
    height: 201px;
    border-radius: 100.5px;
    background: var(--second-color);
    padding: 70px 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* --------------------------------------- services --------------------------------------- */
.services {
    margin-top: 106px;
}

.services__sub-title {
    margin-left: 35px;
}

.services__title {
    margin-top: 12px;
    position: relative;
    width: 520px;
}
.services__title::after {
}
.services__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__control {
    display: flex;
    align-items: center;
    gap: 17px;
}
.services__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--text-color_black);
    background: var(--second-color);
    transition: background-color 0.25s, color 0.25s;
}
.services__button:nth-child(2) {
    rotate: 180deg;
}
.services__button:hover {
    background: var(--primary-color);
    color: #fff;
}

.services__list {
    margin-top: 76px;
    display: flex;
    gap: 16px;
    border-radius: 20px 20px 0px 0px;
}
.services__item {
    width: 370px;
    border-radius: 20px;
    transition: transform 0.2s;
}
.services__item:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}
.services__item img {
    width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
}
.services__item-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}
.services__item-content {
    padding: 24px 18px;
}
.services__desc {
    margin-top: 18px;
    color: #7d8188;
}
/* --------------------------------------- about --------------------------------------- */
.about {
    margin-top: 150px;
}
.about__row {
    display: flex;
}
.about__left {
    position: relative;
    padding-top: 13px;
    height: 570px;
    display: flex;
    gap: 21px;
    background: transparent;
}

.about__left .bgblur {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(220px);
}
.about__img {
    width: 286px;
    height: 480px;
    border-radius: 210px;
}
.about__img:nth-child(1) {
    align-self: flex-end;
}

.about__right {
    margin-left: 64px;
}
.about__title {
    margin-top: 20px;
}
.about__desc {
    margin-top: 11px;
    font: 1.6rem;
    line-height: 1.62;
}
.about__list {
    margin-top: 36px;
}
.about__item + .about__item {
    margin-top: 58px;
}
.about__item {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
}
.about__item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -19px;
    width: 100%;
    height: 1px;
    background: #83a17d;
}

.about__stat {
    color: var(--text-color_black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}
/*  Box-info */
.box-info {
    position: absolute;
    right: -9px;
    bottom: 8px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    padding: 19px 23px 12px;
}

.box-info__title {
    color: var(--text-color_black);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
}

.box-info__sub-title {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
}
.box-info__progress {
    margin-top: 10px;
    display: flex;
    gap: 8px;
    flex-flow: column;
}
.box-info__loading {
    align-self: flex-end;
}
.box-info__percent,
.box-info__team,
.box-info__loading {
    color: var(--text-color_black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
}
.box-info__percent {
    position: relative;
}
.box-info__percent::before {
    content: "";
    z-index: 1;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    width: 40px;
    height: 2px;
    border-radius: 999px;
    background: #83a17d;
}
.box-info__percent::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    border-radius: 999px;
    background: #eaeaea;
}

.box-info__circle {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    background: #143c3c;
    border: 3.5px solid #eaeaea;
    border-radius: 50%;
}

.box-info__teams {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-info__avatar {
    margin-left: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.box-info__avatar:first-child {
    margin-left: 0;
}
.about_deco1 {
    top: 10px;
    left: 85px;
}
.about_deco2 {
    z-index: 1;
    rotate: -20deg;
    top: 22px;
    left: 48px;
}
/* --------------------------------------- Process --------------------------------------- */
.process {
    margin-top: 115px;
}
.process__title {
    margin-top: 20px;
    width: 477px;
}
.process .heading--dash::before {
    right: -8px;
}

.process__list {
    margin-top: 81px;
}
.process__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 46px 41px 50px 20px;
    gap: 50px;
    width: 1140px;
    height: 185px;
    border-radius: 33px;
    background: #fff;
    transition: background-color 0.25s;
}
.process__item::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    width: 100%;
    height: 3px;
}
.process__item:hover {
    background: #e2eddf;
}

.process__item:hover .process__learn-more {
    opacity: 1;
}
.process__item:hover::after {
    background: none;
}
.process__num {
    color: #143c3c;
    width: 107px;
    font-size: 7.2rem;
    font-weight: 600;
}
.process__content {
    position: relative;
    display: flex;
    align-items: center;
}
.process__item-title {
    color: var(--text-color_black);

    font-size: 2.2rem;
    font-weight: 600;
}
.process__learn-more {
    text-decoration: underline;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    bottom: -22px;
    transform: translateY(100%);
    transition: opacity 0.25s;
    opacity: 0;
}
.process__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
}
.process__item-text {
    width: 572px;
    margin-left: auto;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}
/* --------------------------------------- Project --------------------------------------- */
.project {
    margin-top: 150px;
    background: #143c3c;
    padding-bottom: 63px;
}
.project__row {
    display: flex;
    padding-top: 116px;
    gap: 93px;
}
.project__title {
    color: #e7f9f9;
    width: 457px;
}
.heading--dash::before {
    background: #83a17d;
    right: 90px;
}
.project__subcontent {
    width: 590px;
}
.project__desc {
    color: #6a8383;

    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}
.project__link {
    margin-top: 13px;
    color: #fff;
    display: flex;
    gap: 26px;
    align-items: center;
    transition: color 0.25s;
}
.project__link:hover {
    color: var(--second-color);
    text-decoration: underline;
}

.project__arrow {
    rotate: 180deg;
    color: #80a07b;
    transition: color 0.25s;
}
.project__link:hover .project__arrow {
    color: var(--second-color);
}
.project__video {
    position: relative;
    margin-top: 72px;
    border-radius: 22px;
}
.project__video video {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}
.project__btn-play-video img {
    padding-left: 8px;
}
.project__btn-play-video {
    position: absolute;
    z-index: 1;
    display: flex;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -5px);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.75);
    width: 118px;
    height: 118px;
}
.project__deco1 {
    position: absolute;
    right: -148px;
    top: -142px;
    rotate: 90deg;
    transform: rotateY(180deg);
}
.project__deco2 {
    position: absolute;
    right: -50px;
    top: -78px;
    rotate: 20deg;
}
/* --------------------------------------- feature --------------------------------------- */
.feature {
    margin-top: 140px;
}
.feature__title {
    width: 520px;
    text-align: center;
    margin: 0 auto;
}
.feature__desc {
    margin: 0 auto;
    margin-top: 20px;

    text-align: center;
    width: 547px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6; /* 162.5% */
}
.feature__list {
    margin-top: 103px;
    display: flex;
    gap: 45px;
    text-align: center;
}
.feature__item {
    border-radius: 50%;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 362px;
    transition: transform 0.25s;
    background: #fff;
    border: 2px solid #cecece;
}
.feature__item:hover {
    transform: translateY(-30px);
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}
.feature__item-icon {
    width: 50px;
    height: 50px;
}
.feature__item-title {
    margin-top: 20px;
    color: var(--text-color_black);
    font-size: 2rem;
    font-weight: 600;
}
.feature__item-desc {
    margin-top: 12px;
    width: 286px;
}
